
	<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />
		<link rel="shortcut icon" href="/assets/favicon/logo_only.png" type="image/x-icon" />
		<link rel="stylesheet" href="/assets/css/libs.bundle.css" />
		<link rel="stylesheet" href="/assets/css/theme.bundle.css" />
		<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
		<link data-require="select2@*" data-semver="4.0.0" rel="stylesheet" href="/assets/css/select2.css" />
		<script data-require="select2@*" data-semver="4.0.0" src="/assets/js/select2.js"></script>
		<script src="/angular/angular.min.js"></script>
		<script data-require="angular-select2@v0.0.2" data-semver="v0.0.2" src="/assets/js/main_select2.js"></script>
		<script src="/assets/js/kendo.all.min.js"></script>
		<link rel="stylesheet" href="/assets/css/kendo.default-v2.min.css" />
		<link rel="stylesheet" href="/assets/css/custom.css" />
		<script src="/javascripts/constants.js"></script>
		<script src="/javascripts/services.js"></script>
		<script src="/javascripts/directives.js"></script>
		<script src="/assets/js/sweetalert.min.js"></script>
		<title>11Za Doc Locker</title>
		<meta charset="utf-8">
	</head>

	<body ng-app="doc11zaApp" ng-cloak>

