<nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-light" id="sidebar">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse"
			aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="/home">
			<img src="/assets/img/logo.png" class="navbar-brand-img mx-auto" alt="...">
		</a>
		<div class="collapse navbar-collapse" id="sidebarCollapse">
			<form class="mt-4 mb-3 d-md-none">
				<div class="input-group input-group-rounded input-group-merge input-group-reverse">
					<input class="form-control" type="search" placeholder="Search" aria-label="Search">
					<div class="input-group-text">
						<span class="fe fe-search"></span>
					</div>
				</div>
			</form>
			<!-- Navigation -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/home">
						<i class="fe fe-home"></i> Dashboard
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/documents">
						<i class="fe fe-layers"></i> Documents
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/customers">
						<i class="fe fe-users"></i> Customer
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">
						Logout
					</a>
				</li>
				<hr class="navbar-divider my-3">
			</ul>
			<div class="mt-auto"></div>
		</div>
	</div>
</nav>
